
* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.6);
	background-color: #202024;

}

.intro {
	position: relative;
	height: 942px;
	background: url('/img/intro_bg.png') center center/cover no-repeat;
}

.container {
	width: 1440px;
	margin: 0 auto;
}

.container-big {
	width: 1920px;
}

.intro_header {
	padding-top: 36.46px;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.1em;
	color: rgba(255, 255, 255, 0.6);
}

.divider {
	margin-top: 19.45px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.intro_subheader {
	margin-top: 11.8px;
	font-weight: 300;
	font-size: 25px;
	line-height: 29px;
	text-align: center;
	letter-spacing: 0.1em;
	color: rgba(255, 255, 255, 0.6);
}

.astro {
	position: relative;
	width: 390.6px;
	height: 390.6px;
	margin: 0 auto;
	margin-top: 41.6px;
}

.astro_star {
position: absolute;
	margin: 0 auto;
	height: 100%;
	z-index: -1;
	opacity: 0.2;
}

.astro_woman {
	margin: auto;
  position: absolute;
  top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 237.83px;
	width: 237.83px;
	z-index: 4;
}

.upper {
	text-transform: uppercase;
}

.intro_question {
	margin: 0 auto;
	width: 499.97px;
	height: 130.2px;
	text-align: center;
	font-size: 25px;
	line-height: 35px;
	color: #F6C866;
	margin-bottom: 39.93px;
}

.intro_btn {
	display: block;
	margin: 0 auto;
	margin-bottom: 34.72px;
	width: 315.95px;
	height: 69.44px;
	background: linear-gradient(90deg, rgba(246, 200, 102, 0.9) -6.2%, rgba(254, 173, 53, 0.9) 100%);
	border-radius: 50px;
	border: none;
	font-size: 20px;
	color: #FFFFFF;
}

.descr {
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: 0.1em;
	color: rgba(255, 255, 255, 0.6);
}

.secret {
	height: 653px;
	position: relative;
}

.secret_pic {
	position: absolute;
}

.secret_descr {
	width: 442.68px;
	height: 437.48px;
	padding: 128.52px 46px 83.96px 33px;
	margin: 0 auto;
	margin-top: 146.48px;
	font-size: 25px;
	line-height: 35px;
	text-align: center;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 3px;
}

.yellow {
	color: rgba(246, 200, 102, 1);
}

.secret_pic {
	margin: auto;
  position: absolute;
  top: -80px;
	left: 0;
	/* bottom: 0; */
	right: 0;
}



.belive {
	position: relative;
	height: 606px;
	overflow: hidden;
	border: 1px solid #000000;
}


.belive_img {
	position: absolute;
	top: -180px;
	right: 0;
	width: 100%;
	opacity: 0.35;
}

.belive_text {
	padding: 240px 528.77px 107.33px 531.04px;
	font-size: 25px;
	line-height: 35px;
	text-align: center;
	color: #FFFFFF;
}


.fear {
	margin: 0 auto;
}

.fear_title {
	text-align: center;
	margin-top: 133px;
	margin-bottom: 46.87px;
	font-size: 25px;
	text-transform: uppercase;
	color: #F6C866;
}


.footer {
	position: relative;
	width: 100%;
	height: 100%;
}


.footer_rune {
	display: block;
	margin: 0 auto;
	margin-top: 116px;
	width: 56.52px;
	height: 17.36px;
}

.footer_text {
	margin: 0 auto;
	margin-top: 80.23px;
	font-family: 'Bad Script', cursive;
	font-size: 25px;
	line-height: 35px;
	text-align: center;
	color: #FFFFFF;
}

.mt-small {
	margin-top: 80px;
	margin-bottom: 152.64px;
}

.footer_eye {
	position: absolute;
	opacity: 0.2;
	width: 296.84px;
	height: 156.61px;
	right: 152px;
	/* bottom: 358.19px; */
}

.footer_planet {
	position: absolute;
	opacity: 0.2;
	width: 164.1px;
	height: 163.95px;
	bottom: -108.05px;
	left: 153px
}
